body {
  font-family: Arial;
  background: linear-gradient(135deg, #0a0a0a, #3a0ca3, #4361ee);
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

input, select {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  background: #7209b7;
  border: none;
  color: white;
  cursor: pointer;
}

.card {
  background: rgba(0,0,0,0.6);
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}
